pandas==2.2.3
streamlit==1.40.1
python-dotenv==1.0.1
serpapi==0.1.5
groq==0.12.0
google-api-python-client==2.153.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
protobuf==5.28.3
requests==2.32.3
